.cajaTitulo{
    color:blueviolet(249,115,2);
    font-family: poppins;
    font-size: 30px;
    background-image: url(quimica.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    padding: 20%;
    border: 1px solid black;
    text-align: center;

}


